DATABASE_URL="postgresql://usuario:password@ep-xxx-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=verify-full"

DIRECT_URL="postgresql://usuario:password@ep-xxx.sa-east-1.aws.neon.tech/neondb?sslmode=verify-full"

SECRET_JWT=""

PORT=3000
